/*
GLOBAL
*/
.heading-site {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(73, 150, 212, 0.548);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: white;
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-left: 30px;
    font-size: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;


}

.header .header-menu a {
    margin-right: 15px;
    color: white;
}

.header .header-menu a:hover {
    color: #1c262c;
}
/*
BANNER
*/
.banner {
    margin-top: -30px;
}

.banner .banner-image {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #767676;
}
/*
ABOUT
*/
.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}

.about .about-single-element .icon {
    font-size: 60px;
    text-align: center;

}

/*
IMAGE
*/

.tornado {
    width: 500px;
    height: 500px;
}

/*
FOOTER
*/

.footer .footer-informations {
    text-align: center;
}

.footer .footer-informations ul {
    padding: 0;
}

.footer .footer-informations ul li {
    display: inline-block;
    font-size: 70px;
    color: dimgrey;
}